/*
	Installed from https://reactbits.dev/default/
*/

.card-swap-container {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(5%, 20%);
  transform-origin: bottom right;

  perspective: 900px;
  overflow: visible;
}
.txtcard-title{
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  align-items: left;
  margin-bottom: 0.5rem;
}
.txtcard{
  font-size: 1.2rem;
  font-weight: 600;
  text-align: justify;
  color: #fff;
  margin-bottom: 0.5rem;
}
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 12px;
  border: 1px solid #fff;
  background: #000;

  transform-style: preserve-3d;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

@media (max-width: 768px) {
  .card-swap-container {
    transform: scale(0.75) translate(25%, 25%);
  }
}

@media (max-width: 480px) {
  .card-swap-container {
    transform: scale(0.55) translate(25%, 25%);
  }
}
